<section>
  <lib-cta-section
    title="Build Modern Angular Component Libraries"
    description="A reusable Angular 20 + Tailwind 4 component library with Storybook 9 integration."
    primaryCtaLabel="View on GitHub"
    primaryCtaLink="/"
    imageSrc="https://placehold.co/600x400/FFFFFF/f54a00/png"
  />
</section>

<section>
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2 class="text-base/7 font-semibold text-orange-600">UI Library + Storybook</h2>
        <p class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl lg:text-balance">
          Create. Document. Share.
        </p>
        <p class="mt-6 text-lg/8 text-gray-700">
          A lightweight Angular component library powered by Storybook —
          publishable on npm, styled with Tailwind, and ready for real-world apps.
        </p>
      </div>

      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg border-2 border-orange-500">
                <lib-reusable-icon size="h-6 w-6" color="text-orange-600"></lib-reusable-icon>
              </div>
              Reusable UI Components
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
            </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg border-2 border-orange-500">
                <lib-storybook-icon size="h-6 w-6" color="text-orange-600"></lib-storybook-icon>
              </div>
              Storybook Integration
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Pretium patrioque sociis eu nihil Cum enim ad, ipsum alii vidisse justo id. Option porttitor diam voluptua.
            </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg border-2 border-orange-500">
                <lib-tailwind-icon size="h-6 w-6" color="text-orange-600"></lib-tailwind-icon>
              </div>
              Tailwind Styling
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
              Metus sed amet dolore justo, gubergren sed. Option porttitor diam voluptua.
            </dd>
          </div>

          <div class="relative pl-16">
            <dt class="text-base/7 font-semibold text-gray-900">
              <div class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg border-2 border-orange-500">
                <lib-publish-icon size="h-6 w-6" color="text-orange-600"></lib-publish-icon>
              </div>
              Publish to npm
            </dt>
            <dd class="mt-2 text-base/7 text-gray-600">
               Cu Eam augue dolor dolores quis, Nam aliquando elitr Etiam consetetur.
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
